body {
    font-family: 'Kantumruy Pro', sans-serif;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.help-people {
    background-image: url(images/donation1.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: center;
    padding: 100px;
    color: white;
    margin-bottom: 100px;
}
#placeholder01{
    margin-bottom: 30px;
}

.link-button {
    text-decoration: none;
    padding: 20px 40px;
    border-radius: 5px;
    background-color: tomato;
    color: white;
}

h1 {
    font-weight: 700;
    font-size: 40px;
}

h2 {
    font-weight: 800;
    font-size: 30px;
}

.center-align {
    text-align: center;
    margin-bottom: 50px;
}
#placeholder02{
    color: rgba(0, 0, 0, 0.617);
}

.display-flex {
    display: flex;
}

.customize-button {
    padding: 20px 30px;
    margin: auto;
    font-size: larger;
    border-radius: 5px;
    margin-bottom: 30px;
}

#unique-color {
    background-color: rgba(255, 99, 71, 0.326);
    border-color: tomato;
    color: tomato;
}
.input-customize{
    text-align: center;
    padding: 10px 10px;
}
#submit-button{
    text-decoration: none;
    padding: 20px 40px;
    border-radius: 10px;
    background-color: rgba(255, 99, 71, 0.958);
    color: white;
    font-size: large;
    margin-bottom: 70px;
}
#input-field{
    border-color: gray;
    padding: 10px 300px;
    margin-bottom: 20px;
    text-align: center;
    font-size: larger;
    color: gray;
}
.box{
    text-align: left;
    width: 70%;
    margin-bottom: 70px;
    margin-left: 5%;
    margin-right: 5%;
    padding: 40px;
    border-radius: 20px;
}
#food{
    background-color: rgba(255, 182, 193, 0.781);
    background-image: url(icons/food.png);
    background-repeat: no-repeat;
}
#shelter{
    background-color: bisque;
    background-image: url(icons/shelter.png);
    background-repeat: no-repeat;
}
#education{
    background-color: rgba(95, 158, 160, 0.451);
    background-image: url(icons/Frame-1.png);
    background-repeat: no-repeat;
}
#footer{
    background-color: black;
    text-align: center;
    color: white;
}
#humble{
    color: tomato;
}